// Careers

.template-careers {
    
    
    .section-introduction {
        
        padding-top: rem-calc(45);
        
        .wrap {
            @include breakpoint(large) {
                max-width: rem-calc(1200 * 10/12);
                margin: 0 auto;
            }  
        }
        
        .has-video {
            display: inline-block;
            position: relative;
            
            &:after {
                content: '';
                position: absolute;
                top: rem-calc(20);
                left: 0;
                right: 0;
                bottom: rem-calc(20);
                background: linear-gradient(270deg, rgba(#64A70B, .8) 0%, rgba(#046A38, .8) 100%);
            }
        }
        
        @include breakpoint(large) {
            .large-5 {
                padding-right: rem-calc(map-get($grid-column-gutter, large)*3);    
            }
            
            .large-7 {
                padding-top: rem-calc(30);   
            }
        }
        
        .photo {
            position: relative;
            
            padding: rem-calc(0 20 0 0);
            
            &:before {
                display: block;
                position: absolute;
                z-index: -1; 
                content: '';
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                height: 80%;
                width: 100%;
                border-radius: 2px;
                background-color: $red;
            }
        }
        
        h3 {
            font-style: normal;   
            margin-bottom: rem-calc(10);
        }
    } 
    
    
    .section-why {
        padding-top: rem-calc(75);
        
        .wrap {
            @include breakpoint(large) {
                max-width: rem-calc(1200 * 10/12);
                margin: 0 auto;
            }  
        }
        
        header { 
    
            position: relative;
            padding-left: rem-calc(124);
            margin-bottom: rem-calc(75);
                        
            &:before {
                content: '';
                background-image: url(assets/images/careers/chugach.svg);
                background-size: contain;
                width: 113px;
                height: 71px;
                position: absolute;
                left: 0;
                top: 0;
            }
        
            h3 {
                color: $gray;
                margin-top: rem-calc(5);
                margin-bottom: rem-calc($global-margin); 
            }
        }
        
        @include breakpoint(large) {
            header {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;  
                align-items: center; 
                
                h3 {
                    flex: 0 0 60%;
                    max-width: rem-calc(600);
                    margin-left: 0;
                }
                
                h2,
                h3, {
                    margin-top: 0;
                    margin-bottom: 0;   
                }
            }
        } 
        
        .grid {
            //margin: 0 auto;
            //max-width: rem-calc(1200 * 10/12); 
            
            @include breakpoint(small only) {
                margin: 0 auto;
                max-width: rem-calc(280);
            }
            
            img {
                margin-bottom: rem-calc(40);   
            }
            
            h3 {
                font-style: normal;   
                margin-bottom: rem-calc(10); 
            }
            
            a {
                @include fancy-link;   
            }
        }
    }
    
    
    .section-shareholders {
        
        .wrap {
            background-color: #ECECEC;
            padding-top: rem-calc(45); 
            padding-bottom: rem-calc(75);    
            
            @include breakpoint(xlarge) {
                padding-top: 0;
                padding-bottom: rem-calc(45);    
            }
        }
        
        header { 
    
            position: relative;
            padding-left: rem-calc(124);
            margin-bottom: rem-calc(45);
            
            &:before {
                content: '';
                background-image: url(assets/images/careers/chugach.svg);
                background-size: contain;
                width: 113px;
                height: 71px;
                position: absolute;
                left: 0;
                top: 0;
            }
        
            h3 {
                color: $gray;
                margin-top: rem-calc(5);
                margin-bottom: rem-calc($global-margin); 
            }
        }
        
        .button {
            @include breakpoint(large) {
                display: block;
                max-width: 100%;   
            }
        }
        
        @include breakpoint(large) {
            header {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;   
                
                h3 {
                    flex: 0 0 60%;
                    max-width: rem-calc(600);
                    margin-left: 0;
                }
            }
        }
        
        .photo-grid-wrapper {
            padding: rem-calc(15);
            position: relative;
            z-index: 2;
            
            &:before,
            &:after {
                content: '';
                display: block;
                z-index: -1;
                height: 127px;
                width: 196px;
                position: absolute;
            } 
            
            &:before {
                background-color: $red;
                top: 0;
                left: 0;
            }
            
            &:after {
                background-color: $green;
                right: 30px;
                bottom: 0;
                width: 244px;
            }    
        }

        .photo-grid {  
            padding-left: 30px;
            margin: 0 -6px;          

            > div {
                float: left;
                padding: 0 6px;
                margin-bottom: 12px;
                                
                .background {
                    background-size: cover;
                    background-position: center;
                    width: 100%;
                    height: 252px;
                    box-shadow: $box-shadow;
                }
                
                &:first-child,
                &:nth-child(2) {
                    position: relative;
                    left: -30px;   
                }
            }
            
            .width-60 {
                width: 60%;   
            }
            
            .width-40 {
                width: 40%;
            }
        }
        
        .entry-content {
            h3 {
                font-style: normal;
                margin-bottom: rem-calc(10);   
            }
        }
    }
    
    .section-testimonials {
        
        .wrap {
            padding-top: rem-calc(45);  
            
            @include breakpoint(xlarge) {
                padding-top: 0;
            } 
        }
        
        header {
            text-align: center;  
            margin-bottom: rem-calc(40); 
        }
     
        .testimonials {
            max-width: rem-calc(1000);
            margin: 0 auto;
            padding: rem-calc(0 75 75);   
            position: relative;
        
        }
        
        
        .testimonial {
            
            p {
                font-family: $georgia;
                font-size: 22px;
                font-style: italic;
                line-height: 36px;
                text-align: center;
                
                &:last-of-type {
                    margin-bottom: 0;   
                }
            }
            
            footer {
                position: relative;
                text-align: center;
            
                &:before {
                    content: '';
                    display: block;
                    width: 124px;
                    height: 81px;
                    background-image: url(assets/images/careers/quote.svg);
                    margin: 0 auto -20px;
                       
                }  
                
                h3 {
                    color: $lime;   
                }
                
                h5 {
                    color: #666666;
                    font-size: 17px;
                    letter-spacing: 0.66px;
                    line-height: 31px;
                    text-align: center;
                }
            }
        }
        
        
                    
       .thumbnail {
            position: relative;
            overflow: hidden;
            width: 100px;
            height: 100px;
            margin: 0 auto rem-calc(10);
            border-radius: 50%;
            box-shadow: $box-shadow;
            border: 4px solid $lime;
            background-size: cover;
            background-position: top;
       }
        
        .slick-arrows {
            
            @include breakpoint(large down) {
                display: flex;
                justify-content: space-between;
            }
            
            .slick-next,
            .slick-prev {
                width: 43px;
                height: 22px;   
                
                &:before,
                &:after {
                    width: 43px;
                    height: 22px;   
                }
            }
            
            @include breakpoint(large) {            
                .slick-next,
                .slick-prev {
                    position: absolute;
                    top: 15%;
                    //transform: translateY(-50%);               
                }                
            }
        }
        
    }
}