.page-template-default {
 
    .section-hero {
        background: $blue;
        text-align: center;  
        
        .wrap {
            
            padding: 0;
            
            .row {
                position: relative;
                
                @include breakpoint(xxxlarge) {
                    &:before {
                        @include three-lines-gray;
                        position: absolute;
                        top: -15px;
                        //left: rem-calc(map-get($grid-column-gutter, large)/2); 
                        left: -60px;
                        z-index: 4;  
                    }                
                } 
            }
              
        }        
    }
    
    .section.default,
    .section-default {
        padding: rem-calc(45 0 75);   
    }
    
}