// Single Post

.single-post {
    
    .content-area {
        margin-bottom: rem-calc(45);   
    }
    
    .section-hero {
        
        .button {
            position: relative;
            margin: rem-calc(map-get($grid-column-gutter, large)/2) auto 0; 
            
            @include breakpoint(large) {
                position: absolute;
                top: rem-calc(map-get($grid-column-gutter, large)*2); 
                left: rem-calc(map-get($grid-column-gutter, large)*4); 
                margin: 0;
            }
            
            z-index: 3;   
        }

        ul.post-categories {
            @include list-reset;
            display: inline-block;            
            color: $white;
            position: relative;
            min-width: inherit;
            padding-left: 30px;
            padding-right: 30px;
            margin-left: 40px;
            margin-right: 40px;
            
            li {
                display: inline-block;
                margin-bottom: rem-calc(10);
                a {
                    @include button-primary;
                    min-width: 160px;
                }
            }
        }
        
        .author {
            margin-top: rem-calc(25);
            p {
                margin-bottom: rem-calc(5);   
            }
        }
        
        .posted-on {
            margin-top: rem-calc(25);
            display: block;
            color: #fff;
            font-size: rem-calc(18);
            line-height: 18px;   
            font-family: $georgia;
            font-style: italic;
        }
        
    }
    
    .slider {
     
        .background:before {
          content: "";
          width: 1px;
          margin-left: -1px;
          float: left;
          height: 0;
          padding-top: 56.25%;
        }
        .background:after { /* to clear float */
          content: "";
          display: table;
          clear: both;
        }
        
        .slick-arrows {
            display: flex;
            justify-content: space-between;
            margin: rem-calc(10) auto $global-margin;
            
            > *:first-child {
                margin-right: rem-calc(36);   
            }
        }
        
    }
                
    article {
                
        .post-author {
            position: relative;
            width: 100%;
            margin: -150px auto 10px;
            z-index: 3;
            text-align: center;
            
            a {
                display: inline-block;   
            }
            
           p {
                color: #4A4A4A;
                font-size: rem-calc(20);
                line-height: 1.2;
                text-align: center;
                margin-bottom: rem-calc(30);
            }
            
            img {
                border-radius: 50%;
                border: 2px solid #fff;  
                box-shadow: 0 0 5px 2px rgba(40,36,37,0.5);
                margin-bottom: 15px;
                width: 100px;
                height: 100px;
            }
        }
        
        .intro {
            p {
                font-size: rem-calc(22);
                line-height: 1.64;
                margin-bottom: $global-margin; 
                font-family: $header-font-family;
                
                .first-letter {
                    font-size: rem-calc(72); 
                    line-height: 42px; 
                    float: left;
                    padding-top: 8px;
                    padding-right: 8px;
                    padding-left: 3px; 
                    font-family: $header-font-family;
                    color: $dark-gray;
                    position: relative;
                    top: 8px;
                } 

            }
        }
        
        .entry-content {
            
            img {
                
                box-shadow: $box-shadow;
                
                @include breakpoint(xxlarge) {
                    &.alignleft {
                        margin-left: -20%;
                    }
                    
                    &.alignright {
                        margin-right: -20%;
                    }
                }
            }
        }
        
        
    }
        
    .entry-footer {
        
        margin-top: rem-calc(30);
        
        .wrap {
            position: relative; 
        }
        
        h3 {
            color: $med-gray; 
            letter-spacing: 0.7px;
            font-style: normal;
            overflow: hidden;
            margin-bottom: 15px; 
            text-align: center;
            
            span {
                display: inline-block;
                position: relative; 
                
            }
            span:before,
            span:after {
              content: '';
              position: absolute;
              height: auto;
              border-top: 1px solid #D7D5D5;
              top: 50%;
              transform: translateY(-50%);
              width: 999em;
            }
            span:before {
              right: 100%;
              margin-right: 18px;
            }
            span:after {
              left: 100%;
              margin-left: 18px;
            }
        }

    }
    
    
    .nav-links {
        display: flex;
        justify-content: space-between;
        margin-bottom: rem-calc(40);
        
        $color: '#eaeaea';
        $color-hover: '#ED4399';
        $width: 25px;
        $height: 43px;
        
        // Fix values
        $color: str-replace($color, '#', '');
        $color-hover: str-replace($color-hover, '#', '');
        $width: strip-unit($width);
        $height: strip-unit($height);
                  
        a {
            display: block;
            width: rem-calc( 31 );
            height: rem-calc( 22 );  
            
            span {
                @include screen-reader-text;   
            }
            
            &:before,
            &:after {
                display: block;
                background-position: center;
                background-repeat: no-repeat;
                background-position: center;
                height: 22px; 
                background-size: auto 22px;
                
            }
        }
        
        .nav-previous,
        .nav-next {
            @include breakpoint(medium) {
                position: absolute; 
                top: 50%;
                transform: translateY(-50%); 
                margin-top: rem-calc(-20); 
            }   
        }
        
        
        .nav-previous {
            padding-right: rem-calc(20);
            
            @include breakpoint(medium) {
                left: 0; 
            }
            
            a {
                &:before {
                    content: '';
                    background-image: url("data:image/svg+xml,%3Csvg width='#{$width}' height='#{$height}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.777 42.26c.505.484 1.196.74 1.86.74.664 0 1.354-.256 1.858-.74L24.23 23.29c.504-.484.77-1.122.77-1.787 0-.663-.266-1.301-.77-1.787L4.495.747a2.687 2.687 0 0 0-3.718 0 2.443 2.443 0 0 0 0 3.574l17.875 17.182L.777 38.686c-1.009.996-1.009 2.604 0 3.574z' fill='%23#{$color}' fill-rule='evenodd'/%3E%3C/svg%3E ");
                    
                }
                
                &:hover:before {
                    background-image: url("data:image/svg+xml,%3Csvg width='#{$width}' height='#{$height}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.777 42.26c.505.484 1.196.74 1.86.74.664 0 1.354-.256 1.858-.74L24.23 23.29c.504-.484.77-1.122.77-1.787 0-.663-.266-1.301-.77-1.787L4.495.747a2.687 2.687 0 0 0-3.718 0 2.443 2.443 0 0 0 0 3.574l17.875 17.182L.777 38.686c-1.009.996-1.009 2.604 0 3.574z' fill='%23#{$color-hover}' fill-rule='evenodd'/%3E%3C/svg%3E ");
                }   
            }
        }
        
        .nav-next {
            padding-left: rem-calc(20);
            
            @include breakpoint(medium) {
                right: 0; 
            }
            
            a {
                &:before {
                    content: '';
                    background-image: url("data:image/svg+xml,%3Csvg width='#{$width}' height='#{$height}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.777 42.26c.505.484 1.196.74 1.86.74.664 0 1.354-.256 1.858-.74L24.23 23.29c.504-.484.77-1.122.77-1.787 0-.663-.266-1.301-.77-1.787L4.495.747a2.687 2.687 0 0 0-3.718 0 2.443 2.443 0 0 0 0 3.574l17.875 17.182L.777 38.686c-1.009.996-1.009 2.604 0 3.574z' fill='%23#{$color}' fill-rule='evenodd'/%3E%3C/svg%3E ");
                }
                
                &:hover:before {
                    background-image: url("data:image/svg+xml,%3Csvg width='#{$width}' height='#{$height}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.777 42.26c.505.484 1.196.74 1.86.74.664 0 1.354-.256 1.858-.74L24.23 23.29c.504-.484.77-1.122.77-1.787 0-.663-.266-1.301-.77-1.787L4.495.747a2.687 2.687 0 0 0-3.718 0 2.443 2.443 0 0 0 0 3.574l17.875 17.182L.777 38.686c-1.009.996-1.009 2.604 0 3.574z' fill='%23#{$color-hover}' fill-rule='evenodd'/%3E%3C/svg%3E ");
                }   
            }
        }        
        
    }
    
    .section-related-posts {
        
        opacity: 0;
        visibility: hidden;
        
        &.images-loaded {
            opacity: 1;
            visibility: visible;
        }
        
        padding-bottom: rem-calc(55);
        
        .slick {
                    
            .slick-slide {
            
                > div,
                .column,
                .grid-item {
                    height: 100%;   
                }
                
            }
        }
        
        .slick-arrows {
            display: flex;
            justify-content: space-between;
            margin-bottom: $global-margin;
            
            > *:first-child {
                margin-right: rem-calc(36);   
            }
        }
        
        .slick .column {
            padding-top: rem-calc($global-margin);   
            padding-bottom: rem-calc($global-margin);   
        }
        
        article {
            
            background-color: #fff;
            box-shadow: $box-shadow;
            height: 100%;
            
            .post-hero {
                display: block;
                background: $gray;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                position: relative;        
                padding-top: 90%;
                
                &:hover {
                    opacity: .8;   
                }
            }
                    
            header {
                padding: 15px 20px 40px;   
            }
            
            .posted-on {
                color: #4A4A4A;
                display: block;
                font-family: $lato;
                font-size: 15px;
                letter-spacing: 0.5px;
                line-height: 1.666666667;
                margin-bottom: 10px;
            }
            
            h3 {
                font-family: $lato;
                font-size: rem-calc(18);
                font-style: normal;
            }
            
            .read-more {
                display: none;
                margin-top: rem-calc(30);
            }
            
            .more {
                font-size: rem-calc(18);
            }
            
        }   
    }
    
    .section-footer-cta {
        display: none;   
    }
    
}
