/**
 * ACF Flex Content
 * ======================================== */

.acf-field[data-name="pagebuilder_sections"] {


	/**
	 * Flex content layout selector
	 *   - scrolls if getting too tall
	 *   - style with multiple columns
	 * -------------------- */
	.acf-fc-popup {
		max-height: 70vh;
		overflow-y: scroll;

		border-radius: 0;
		margin: 0 !important;
		padding: 0 !important;

		ul,
		li {
			display: flex !important;
			flex-wrap: wrap;
			align-items: center;
		}

		ul {
			width: 30rem;
		}

		li {
			width: 33.333%;
			// white-space: unset;
			line-height: 1.15;
			justify-content: center;
		}

		a {
			font-size: 1.1rem;
			padding: 1rem !important;
			width: 100%;
			text-align: center;
		}
	}

	/**
	 * Flexible Content - Sections
	 * -------------------- */
	.acf-flexible-content {

		/* Less space between sections */
		.layout {
			margin: 5px 0 0;
		}

		/* Headings */
		.acf-fc-layout-handle {
			font-size: 1.25rem;
		}
	}

	/**
	 * The 'Flex Elements' label
	 * -------------------- */
	.acf-flexible-content .acf-field-flexible-content {
		padding-left: 0;
		padding-right: 0;
		> .acf-label {
			display: none;
		}
	}

	/**
	 * Flex Elements
	 * -------------------- */
	.fl_e-condensed .acf-flexible-content {

		.layout {
			margin: 0.25rem 0.25rem 0;
		}

		.acf-fields {
			padding: 0.325rem;
		}

		.acf-field {
			border: 0;
			padding: 0;
			&:not(:last-child) {
				margin-right: 0.75rem;
			}
			align-items: center;
		}
	}

	/**
	 * Elements - sideways
	 * -------------------- */
	.fl_e-sideways .acf-flexible-content {

		.layout,
		.acf-field {
			display: flex;
			justify-content: space-between;
			flex-wrap: nowrap;
		}

		.acf-fc-layout-handle {
			font-size: 1rem;
			min-width: 6rem;
		}

		.acf-fields,
		.acf-input {
			width: 100%;
		}

		.acf-label {
			margin: 0;
			margin-right: 0.25rem;
			label {
				white-space: nowrap;
			}
		}

		/* Push buttons to top right corner */
		.acf-fc-layout-controls {
			z-index: 99999;
			order: 3;
			position: relative;
			top: unset;
			right: unset;
			.acf-icon.-minus {
				visibility: visible !important;
				margin: 0;
			}
		}

		/* hide some icons */
		.acf-icon.-collapse,
		.acf-icon.-plus,
		.acf-fc-layout-order {
			display: none;
		}
	}

	/**
	 * group containers for duplicate flex containers
	 */
	.acf-field-group.flex-container {
		> .acf-input {
			> .acf-fields {
				border-width: 0;
				> .acf-field {
					padding: 0;
					> .acf-label {
						// display: none;
					}
				}
			}
		}
	}
}
