/**
 * ACF Custom Layout
 * ======================================== */


.acf-field[data-name="pagebuilder_sections"] {

    /**
     * Flex Layout
     * -------------------- */
    .acf-fields {
    	display: flex;
    	flex-wrap: wrap;
    	box-sizing: border-box;
    }

    /* don't flex on options pages */
    #acf-field-group-options .acf-fields {
    	display: block;
    }

    /* Reduce all the paddings a little bit */
    .acf-fields > div.acf-field {
    	padding: 14px 11px;
    }

    /* Reduce space between label and field */
    .acf-field div.acf-label {
    	margin-bottom: 2px;
    }

    /**
     * Widths
     * -------------------- */
    /* Unset all */
    .acf-field { width: unset; }

    /* force some to 100% */
    .acf-field-group,
    .acf-tab-wrap,
    .acf-field-repeater,
    .acf-field-flexible-content,
    .acf-field-gallery,
    .acf-field-accordion {
    	width: 100%;
    }

    /* Let it grow with flex grow */
    .acf-field.flex-grow { flex-grow: 1; }

    /* Percentage widths */
    .acf-field {
    	&.full { width: 100%; }
    	&.three-fourths { width: 75%; }
    	&.wide { width: 66.6%; }
    	&.two-thirds { width: 66.6%; }
    	&.half { width: 50%; }
    	&.third { width: 33.3%; }
    	&.fourth { width: 25%; }
    	&.fifth { width: 20%; }
    	&.sixth { width: (100% / 6); }
    	&.seventh { width: (100% / 7); }
    	&.width-auto { width: auto; }
    }

    /**
     * Pixel-based widths
     *   - .width-[#] or .w-[#]
     *   - from 50px - 600px, in increments of 25px
     */
    $acf_field_widths:(50, 75, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 425, 450, 475, 500, 525, 550, 575, 600);
    @each $width in $acf_field_widths {
        .acf-field.width-#{$width},
        .acf-field.w-#{$width} {
            width: #{$width} + px;
        }
    }


    /**
     * Labels
     * -------------------- */
    .acf-field {
        /* .side-label to put on left */
    	&.side-label {
    		display: flex;
    		align-items: center;
    		> .acf-label {
    			margin: 0 10px 0 0;
    		}
    		> .acf-input {
    			flex-grow: 1;
    		}
    	}
        /* .hide-label to remove */
    	&.hide-label > .acf-label {
    		display: none;
    	}
    }

    /**
     * Hiding Fields
     *   - Good for hidden database/field manipulation
     */
    .acf-field.hide-fully {
        display: none;
    }

    /* 'mirror' to hide fields only for admin */
    /*   - requires some code in the app to generate the class */
    .acf-field.mirror {
        display: none;
        @at-root .role-administrator & {
            display: block;
            background-color: deepskyblue;
        }
    }

    /* for options - align items within tabs to top */
    .acf-fields.inside.-sidebar {
    	align-content: flex-start;
    }



    /**
     * Sidebars
     *  - make more condensed
     * -------------------- */
    #side-sortables {
        .acf-field:not(:first-child) {
            padding-top: 8px;
        }
        .acf-field:not(:last-child) {
            padding-bottom: 10px;
        }
    }
}
