
// fractions
$fractions: (
	whole        : 1,
	full         : 1,
	half         : 0.5,
	third        : 0.333,
	two-thirds   : 0.666,
	fourth       : 0.25,
	three-fourths: 0.75,
	fifth        : 0.2,
	two-fifths   : 0.4,
	three-fifths : 0.6,
	four-fifths  : 0.8,
	sixth        : 0.166,
	seventh      : 0.143,
	eighth       : 0.125,
	ninth        : 0.111,
	tenth        : 0.1,
);
