/**
 * Generate responsive stuff calc
 * Currently only works for pixels
 */

@function between($from, $to, $fromWidth, $toWidth) {
    $slope: ($to - $from) / ($toWidth - $fromWidth);
    $base: $from - $slope * $fromWidth;

    // limit to 2 decimals
    $base: floor($base * 100) / 100;
    // limit to 3 decimals
    $slope: floor($slope * 100000) / 100000;

    @return calc(#{$base} + #{100vw * $slope});
}
