/* ===============================
Material Design Shadows
=============================== */

@mixin shadow($level:1, $type: null) {

	@if($type == 'inset') {

		@if $level == 1 {
			box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
		}

		@else if $level == 2 {
			box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), inset 0 3px 6px rgba(0, 0, 0, 0.23);
		}

		@else if $level == 3 {
			box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.19), inset 0 6px 6px rgba(0, 0, 0, 0.23);
		}

		@else if $level == 4 {
			box-shadow: inset 0 14px 28px rgba(0, 0, 0, 0.25), inset 0 10px 10px rgba(0, 0, 0, 0.22);
		}

		@else if $level == 5 {
			box-shadow: inset 0 19px 38px rgba(0, 0, 0, 0.31), inset 0 15px 12px rgba(0, 0, 0, 0.22);
		}
	}

	@else {

		@if $level == 1 {
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		}

		@else if $level == 2 {
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		}

		@else if $level == 3 {
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
		}

		@else if $level == 4 {
			box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
		}

		@else if $level == 5 {
			box-shadow: 0 19px 38px rgba(0, 0, 0, 0.31), 0 15px 12px rgba(0, 0, 0, 0.22);
		}
	}
}


@mixin shadow-full($level:1, $type: null) {

	$inset: null;
	@if($type == inset) {
		$inset: inset;
	}
	@else {}

	$v-offset-1: -4 + ($level * 5);
	$blur-1    : -6 + ($level * 9);
	$opacity-1 : 5  + ($level * 5);

	$v-offset-2: -3 + ($level * 4);
	$blur-2    : 0  + ($level * 2.5);
	$opacity-2 : 25 + ($level * -1);

	$v-offset-1: decimal-round($v-offset-1, 0) + px;
	$blur-1    : decimal-round($blur-1, 0) + px;
	$opacity-1 : decimal-round($opacity-1, 0) / 100;

	$v-offset-2: decimal-round($v-offset-2, 0) + px;
	$blur-2    : decimal-round($blur-2, 0) + px;
	$opacity-2 : decimal-round($opacity-2, 0) / 100;

	box-shadow: $inset 0 $v-offset-1 $blur-1 rgba(black, $opacity-1), $inset 0 $v-offset-2 $blur-2 rgba(black, $opacity-2);
}


