@mixin button-defaults() {
    background-color: transparent;
    display: inline-block;
    margin: 0 auto;    
    text-align: center;
    transition: none;
    padding: rem-calc(15 8);
    text-transform: uppercase;
    text-decoration: none!important;
	font-family: $lato;
	font-size: rem-calc(13);
    line-height: 1.538461538;
    font-weight: 400;
	text-align: center;
    min-width: 220px;
    max-width: 280px;
    border-radius: 4px;
    box-shadow: $box-shadow;
    color: #fff;
    
    &:hover {
        color: #fff;
    }
  
    &.disabled {
        pointer-events: none;
        cursor: default;
    }
    
    svg {
       position: absolute;
       left: 10px;
       top: 50%;
       transform: translateY(-50%);
    } 
    
    &.small {
        padding: rem-calc(5 6);
        min-width: 160px;
    }
    
}


@mixin button-primary {
    @include button-defaults();
    background-color: $gold;
    
    &:hover {
        background-color: scale-color($gold, $lightness: -20%);   
    }
}

@mixin button-secondary {
    @include button-defaults();
    background-color: $blue;
    
    &:hover {
        background-color: scale-color($blue, $lightness: -20%);
    }
}

@mixin button-white {
    @include button-defaults();
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    
    &:hover {
        background-color: #fff;
        border: 2px solid #fff;
        color: $dark-gray;
    }
}

.button {
    @include button-defaults();
    @include button-primary;
    
    &.blue {
        @include button-secondary;
    }
    
    &.white {
        @include button-white;
    }
}

a.link {
    @include fancy-link();   
}


.button-group {
    
    margin: 0 -10px;
 
    a {
        margin: 0 auto 20px;   
    }
    
    @include breakpoint(medium) {
        a {
            margin: 0 10px $global-margin;   
        }
    }
    
}