/*
Admin CSS Import File
------------------------------- */
/* 1 - Variables & helpers
------------------------------- */
/* ===============================
Google Material Design Bezier Curves
=============================== */
/* ===============================
CSS Grid Layout Mixin
=============================== */
/* ===============================
@hover Mixin

	Only does hover states if primary input device hovers

	WARNING: can't be nested within another media query
=============================== */
/* ===============================
@media Queries Mixin
=============================== */
/* ===============================
Pseudo-Element Mixin
=============================== */
/* stylelint-disable
	declaration-colon-space-before */
/**
 * Generate responsive stuff calc
 * Currently only works for pixels
 */
/* ===============================
Material Design Shadows
=============================== */
/*
 * Spacers
 * Generates square-root of 2 scale
 */
/* * * * * * * * * * * * * * * * * * * * * * * *

	Width

* * * * * * * * * * * * * * * * * * * * * * * * /

/*
	Sets columns like Bootstrap
	Allows media queries
	allows
		1-12 columns of a 12-column grid
		if between 0 and 1 treats as percentage
		basic fractions written out
*/
/* * * * * * * * * * * * * * * * * * * * * * * *

	Width

* * * * * * * * * * * * * * * * * * * * * * * * /

/*
	Sets columns like Bootstrap
	Allows media queries
	allows
		1-12 columns of a 12-column grid
		if between 0 and 1 treats as percentage
		basic fractions written out
*/
/* 2 - Mixins
------------------------------- */
/* 2 - Admin Styles
------------------------------- */
/**
 * ACF Custom Layout
 * ======================================== */
.acf-field[data-name=pagebuilder_sections] {
  /**
   * Flex Layout
   * -------------------- */
  /* don't flex on options pages */
  /* Reduce all the paddings a little bit */
  /* Reduce space between label and field */
  /**
   * Widths
   * -------------------- */
  /* Unset all */
  /* force some to 100% */
  /* Let it grow with flex grow */
  /* Percentage widths */
  /**
   * Pixel-based widths
   *   - .width-[#] or .w-[#]
   *   - from 50px - 600px, in increments of 25px
   */
  /**
   * Labels
   * -------------------- */
  /**
   * Hiding Fields
   *   - Good for hidden database/field manipulation
   */
  /* 'mirror' to hide fields only for admin */
  /*   - requires some code in the app to generate the class */
  /* for options - align items within tabs to top */
  /**
   * Sidebars
   *  - make more condensed
   * -------------------- */
}
.acf-field[data-name=pagebuilder_sections] .acf-fields {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.acf-field[data-name=pagebuilder_sections] #acf-field-group-options .acf-fields {
  display: block;
}
.acf-field[data-name=pagebuilder_sections] .acf-fields > div.acf-field {
  padding: 14px 11px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field div.acf-label {
  margin-bottom: 2px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field {
  width: unset;
}
.acf-field[data-name=pagebuilder_sections] .acf-field-group,
.acf-field[data-name=pagebuilder_sections] .acf-tab-wrap,
.acf-field[data-name=pagebuilder_sections] .acf-field-repeater,
.acf-field[data-name=pagebuilder_sections] .acf-field-flexible-content,
.acf-field[data-name=pagebuilder_sections] .acf-field-gallery,
.acf-field[data-name=pagebuilder_sections] .acf-field-accordion {
  width: 100%;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.flex-grow {
  flex-grow: 1;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.full {
  width: 100%;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.three-fourths {
  width: 75%;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.wide {
  width: 66.6%;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.two-thirds {
  width: 66.6%;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.half {
  width: 50%;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.third {
  width: 33.3%;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.fourth {
  width: 25%;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.fifth {
  width: 20%;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.sixth {
  width: 16.6666666667%;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.seventh {
  width: 14.2857142857%;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.width-auto {
  width: auto;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.width-50,
.acf-field[data-name=pagebuilder_sections] .acf-field.w-50 {
  width: 50px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.width-75,
.acf-field[data-name=pagebuilder_sections] .acf-field.w-75 {
  width: 75px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.width-100,
.acf-field[data-name=pagebuilder_sections] .acf-field.w-100 {
  width: 100px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.width-125,
.acf-field[data-name=pagebuilder_sections] .acf-field.w-125 {
  width: 125px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.width-150,
.acf-field[data-name=pagebuilder_sections] .acf-field.w-150 {
  width: 150px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.width-175,
.acf-field[data-name=pagebuilder_sections] .acf-field.w-175 {
  width: 175px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.width-200,
.acf-field[data-name=pagebuilder_sections] .acf-field.w-200 {
  width: 200px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.width-225,
.acf-field[data-name=pagebuilder_sections] .acf-field.w-225 {
  width: 225px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.width-250,
.acf-field[data-name=pagebuilder_sections] .acf-field.w-250 {
  width: 250px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.width-275,
.acf-field[data-name=pagebuilder_sections] .acf-field.w-275 {
  width: 275px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.width-300,
.acf-field[data-name=pagebuilder_sections] .acf-field.w-300 {
  width: 300px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.width-325,
.acf-field[data-name=pagebuilder_sections] .acf-field.w-325 {
  width: 325px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.width-350,
.acf-field[data-name=pagebuilder_sections] .acf-field.w-350 {
  width: 350px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.width-375,
.acf-field[data-name=pagebuilder_sections] .acf-field.w-375 {
  width: 375px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.width-400,
.acf-field[data-name=pagebuilder_sections] .acf-field.w-400 {
  width: 400px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.width-425,
.acf-field[data-name=pagebuilder_sections] .acf-field.w-425 {
  width: 425px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.width-450,
.acf-field[data-name=pagebuilder_sections] .acf-field.w-450 {
  width: 450px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.width-475,
.acf-field[data-name=pagebuilder_sections] .acf-field.w-475 {
  width: 475px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.width-500,
.acf-field[data-name=pagebuilder_sections] .acf-field.w-500 {
  width: 500px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.width-525,
.acf-field[data-name=pagebuilder_sections] .acf-field.w-525 {
  width: 525px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.width-550,
.acf-field[data-name=pagebuilder_sections] .acf-field.w-550 {
  width: 550px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.width-575,
.acf-field[data-name=pagebuilder_sections] .acf-field.w-575 {
  width: 575px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.width-600,
.acf-field[data-name=pagebuilder_sections] .acf-field.w-600 {
  width: 600px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field {
  /* .side-label to put on left */
  /* .hide-label to remove */
}
.acf-field[data-name=pagebuilder_sections] .acf-field.side-label {
  display: flex;
  align-items: center;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.side-label > .acf-label {
  margin: 0 10px 0 0;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.side-label > .acf-input {
  flex-grow: 1;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.hide-label > .acf-label {
  display: none;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.hide-fully {
  display: none;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.mirror {
  display: none;
}
.role-administrator .acf-field[data-name=pagebuilder_sections] .acf-field.mirror {
  display: block;
  background-color: deepskyblue;
}

.acf-field[data-name=pagebuilder_sections] .acf-fields.inside.-sidebar {
  align-content: flex-start;
}
.acf-field[data-name=pagebuilder_sections] #side-sortables .acf-field:not(:first-child) {
  padding-top: 8px;
}
.acf-field[data-name=pagebuilder_sections] #side-sortables .acf-field:not(:last-child) {
  padding-bottom: 10px;
}

/**
 * ACF Columns
 * ======================================== */
.acf-field[data-name=pagebuilder_sections] {
  /*
   * Two-column groups
   */
}
.acf-field[data-name=pagebuilder_sections] .acf-two-col-group {
  padding-left: 0.707rem;
  padding-right: 0.707rem;
}
@media screen and (min-width: 1024px) {
  .acf-field[data-name=pagebuilder_sections] .acf-two-col-group {
    flex: 0 0 49.999%;
    max-width: 49.999%;
  }
}
@media screen and (min-width: 1024px) {
  .acf-field[data-name=pagebuilder_sections] .acf-two-col-group.cols-4 {
    flex: 0 0 33.332%;
    max-width: 33.332%;
  }
}
@media screen and (min-width: 1024px) {
  .acf-field[data-name=pagebuilder_sections] .acf-two-col-group.cols-8 {
    flex: 0 0 66.666%;
    max-width: 66.666%;
  }
}

/**
 * ACF Fields
 * ======================================== */
.acf-field[data-name=pagebuilder_sections] {
  /**
   * Gallery
   * -------------------- */
  /*
   * WYSIWYG
   * Shortened
   */
  /**
   * WYSIWYG
   * -------------------- */
  /**
   * Images
   * -------------------- */
  /*
   * Messages
   * Always full width
   * .big for large message styling
   */
  /**
   * Messages
   * -------------------- */
  /**
   * Groups
   *   .group-nostyle to condense/remove borders
   * -------------------- */
  /*
   * Checkboxes
   * .button-style for button group style
   */
  /**
   * Checkboxes
   * -------------------- */
  /**
   * Button Group
   * -------------------- */
  /**
   * Links
   * -------------------- */
  /*
   * Google Map
   * Simplified
   */
  /**
   * Google Map
   * -------------------- */
  /**
   * Tabs
   * -------------------- */
  /**
   * Repeater
   * -------------------- */
}
.acf-field[data-name=pagebuilder_sections] .acf-gallery {
  height: auto !important;
  min-height: 250px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field-wysiwyg {
  /* Shorteing */
  /* hide all the buttons */
}
.acf-field[data-name=pagebuilder_sections] .acf-field-wysiwyg.xx-short iframe,
.acf-field[data-name=pagebuilder_sections] .acf-field-wysiwyg.xx-short textarea, .acf-field[data-name=pagebuilder_sections] .acf-field-wysiwyg.height-75 iframe,
.acf-field[data-name=pagebuilder_sections] .acf-field-wysiwyg.height-75 textarea {
  height: 75px !important;
  min-height: 75px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field-wysiwyg.x-short iframe,
.acf-field[data-name=pagebuilder_sections] .acf-field-wysiwyg.x-short textarea, .acf-field[data-name=pagebuilder_sections] .acf-field-wysiwyg.height-100 iframe,
.acf-field[data-name=pagebuilder_sections] .acf-field-wysiwyg.height-100 textarea {
  height: 100px !important;
  min-height: 100px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field-wysiwyg.height-125 iframe,
.acf-field[data-name=pagebuilder_sections] .acf-field-wysiwyg.height-125 textarea {
  height: 125px !important;
  min-height: 125px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field-wysiwyg.short iframe,
.acf-field[data-name=pagebuilder_sections] .acf-field-wysiwyg.short textarea, .acf-field[data-name=pagebuilder_sections] .acf-field-wysiwyg.height-150 iframe,
.acf-field[data-name=pagebuilder_sections] .acf-field-wysiwyg.height-150 textarea {
  height: 150px !important;
  min-height: 150px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field-wysiwyg.height-175 iframe,
.acf-field[data-name=pagebuilder_sections] .acf-field-wysiwyg.height-175 textarea {
  height: 175px !important;
  min-height: 175px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field-wysiwyg.medium iframe,
.acf-field[data-name=pagebuilder_sections] .acf-field-wysiwyg.medium textarea, .acf-field[data-name=pagebuilder_sections] .acf-field-wysiwyg.height-200 iframe,
.acf-field[data-name=pagebuilder_sections] .acf-field-wysiwyg.height-200 textarea {
  height: 200px !important;
  min-height: 200px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field-wysiwyg.height-225 iframe,
.acf-field[data-name=pagebuilder_sections] .acf-field-wysiwyg.height-225 textarea {
  height: 225px !important;
  min-height: 225px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field-wysiwyg.medium-large iframe,
.acf-field[data-name=pagebuilder_sections] .acf-field-wysiwyg.medium-large textarea, .acf-field[data-name=pagebuilder_sections] .acf-field-wysiwyg.height-250 iframe,
.acf-field[data-name=pagebuilder_sections] .acf-field-wysiwyg.height-250 textarea {
  height: 250px !important;
  min-height: 250px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field-wysiwyg.hide-buttons .acf-label {
  position: absolute;
}
.acf-field[data-name=pagebuilder_sections] .acf-field-wysiwyg.hide-buttons .wp-media-buttons {
  display: none;
}
.acf-field[data-name=pagebuilder_sections] .acf-field-image {
  /* Set max width */
  max-width: 25rem;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.acf-field-message {
  /* Always full-width */
  width: 100%;
  /* .big for large message styling */
  /* .divider for invisible line break */
}
.acf-field[data-name=pagebuilder_sections] .acf-field.acf-field-message .acf-label,
.acf-field[data-name=pagebuilder_sections] .acf-field.acf-field-message label {
  margin: 0;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.acf-field-message.big {
  padding-bottom: 0 !important;
  background-color: white;
  margin-bottom: -6px !important;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.acf-field-message.big label {
  font-size: 1.25rem;
  border-bottom: 2px solid black;
  margin-bottom: -1px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.acf-field-message.divider {
  width: 100%;
  height: 0;
  padding: 0;
  border: none;
}
.acf-field[data-name=pagebuilder_sections] .acf-field.acf-field-message.divider * {
  display: none;
}
.acf-field[data-name=pagebuilder_sections] .acf-field-group.group-nostyle .acf-label {
  margin-bottom: 4px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field-group.group-nostyle .acf-fields {
  border: none;
  margin-left: -2px;
  margin-right: -2px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field-group.group-nostyle .acf-fields .acf-label {
  margin-bottom: 2px;
}
.acf-field[data-name=pagebuilder_sections] .acf-field-group.group-nostyle .acf-fields .acf-field {
  border: 0;
  padding: 4px 2px 0;
}
.acf-field[data-name=pagebuilder_sections] body:not(.post-type-acf-field-group) .acf-field-checkbox .acf-checkbox-list {
  display: flex;
}
.acf-field[data-name=pagebuilder_sections] body:not(.post-type-acf-field-group) .acf-field-checkbox .acf-checkbox-list li {
  margin-right: 0 !important;
}
.acf-field[data-name=pagebuilder_sections] body:not(.post-type-acf-field-group) .acf-field-checkbox .acf-checkbox-list li label {
  padding: 5px 10px;
  border: #ccc solid 1px;
  z-index: 1;
  margin: 0 0 0 -1px;
  flex: 1;
  text-align: center;
  white-space: nowrap;
}
.acf-field[data-name=pagebuilder_sections] body:not(.post-type-acf-field-group) .acf-field-checkbox .acf-checkbox-list li label.selected {
  border-color: #2b9af3;
  background: #309cf3;
  color: #fff;
  z-index: 2;
}
.acf-field[data-name=pagebuilder_sections] body:not(.post-type-acf-field-group) .acf-field-checkbox .acf-checkbox-list li label:hover {
  border-color: #999999;
}
.acf-field[data-name=pagebuilder_sections] body:not(.post-type-acf-field-group) .acf-field-checkbox .acf-checkbox-list li label.selected:hover {
  background: #48a8f4;
}
.acf-field[data-name=pagebuilder_sections] body:not(.post-type-acf-field-group) .acf-field-checkbox .acf-checkbox-list li:hover {
  z-index: 2;
}
.acf-field[data-name=pagebuilder_sections] body:not(.post-type-acf-field-group) .acf-field-checkbox .acf-checkbox-list li:first-child label {
  border-radius: 3px 0 0 3px;
}
.acf-field[data-name=pagebuilder_sections] body:not(.post-type-acf-field-group) .acf-field-checkbox .acf-checkbox-list li:last-child label {
  border-radius: 0 3px 3px 0;
}
.acf-field[data-name=pagebuilder_sections] body:not(.post-type-acf-field-group) .acf-field-checkbox .acf-checkbox-list li input {
  display: none;
}
.acf-field[data-name=pagebuilder_sections] .acf-field-button-group {
  /* .vertical runs vertical */
  /* .forced is just for displaying things - not user editable */
}
.acf-field[data-name=pagebuilder_sections] .acf-field-button-group.vertical .acf-button-group {
  flex-direction: column;
}
.acf-field[data-name=pagebuilder_sections] .acf-field-button-group.vertical .acf-button-group label {
  border-radius: 0;
}
.acf-field[data-name=pagebuilder_sections] .acf-field-button-group.forced .acf-button-group {
  pointer-events: none;
  opacity: 0.5;
}
.acf-field[data-name=pagebuilder_sections] .acf-input .link-wrap {
  /* force max-width with scroll overflow */
  max-width: 25rem;
  overflow: scroll;
}
.acf-field[data-name=pagebuilder_sections] .acf-input .link-wrap .link-url {
  white-space: nowrap;
}
.acf-field[data-name=pagebuilder_sections] .acf-google-map {
  /* Simplify things */
}
.acf-field[data-name=pagebuilder_sections] .acf-google-map .gm-style .gmnoprint:last-child,
.acf-field[data-name=pagebuilder_sections] .acf-google-map .gm-style .gm-fullscreen-control,
.acf-field[data-name=pagebuilder_sections] .acf-google-map .gm-style .gm-svpc {
  display: none;
}
.acf-field[data-name=pagebuilder_sections] .acf-fields.inside.-sidebar {
  /* Align items within tabs to top (for options) */
  align-content: flex-start;
}
.acf-field[data-name=pagebuilder_sections] .acf-field-repeater {
  /* .condensed for lots of repeater subfields */
}
.acf-field[data-name=pagebuilder_sections] .acf-field-repeater.condensed .acf-field {
  padding: 8px 8px 6px;
}

/**
 * ACF Flex Content
 * ======================================== */
.acf-field[data-name=pagebuilder_sections] {
  /**
   * Flex content layout selector
   *   - scrolls if getting too tall
   *   - style with multiple columns
   * -------------------- */
  /**
   * Flexible Content - Sections
   * -------------------- */
  /**
   * The 'Flex Elements' label
   * -------------------- */
  /**
   * Flex Elements
   * -------------------- */
  /**
   * Elements - sideways
   * -------------------- */
  /**
   * group containers for duplicate flex containers
   */
}
.acf-field[data-name=pagebuilder_sections] .acf-fc-popup {
  max-height: 70vh;
  overflow-y: scroll;
  border-radius: 0;
  margin: 0 !important;
  padding: 0 !important;
}
.acf-field[data-name=pagebuilder_sections] .acf-fc-popup ul,
.acf-field[data-name=pagebuilder_sections] .acf-fc-popup li {
  display: flex !important;
  flex-wrap: wrap;
  align-items: center;
}
.acf-field[data-name=pagebuilder_sections] .acf-fc-popup ul {
  width: 30rem;
}
.acf-field[data-name=pagebuilder_sections] .acf-fc-popup li {
  width: 33.333%;
  line-height: 1.15;
  justify-content: center;
}
.acf-field[data-name=pagebuilder_sections] .acf-fc-popup a {
  font-size: 1.1rem;
  padding: 1rem !important;
  width: 100%;
  text-align: center;
}
.acf-field[data-name=pagebuilder_sections] .acf-flexible-content {
  /* Less space between sections */
  /* Headings */
}
.acf-field[data-name=pagebuilder_sections] .acf-flexible-content .layout {
  margin: 5px 0 0;
}
.acf-field[data-name=pagebuilder_sections] .acf-flexible-content .acf-fc-layout-handle {
  font-size: 1.25rem;
}
.acf-field[data-name=pagebuilder_sections] .acf-flexible-content .acf-field-flexible-content {
  padding-left: 0;
  padding-right: 0;
}
.acf-field[data-name=pagebuilder_sections] .acf-flexible-content .acf-field-flexible-content > .acf-label {
  display: none;
}
.acf-field[data-name=pagebuilder_sections] .fl_e-condensed .acf-flexible-content .layout {
  margin: 0.25rem 0.25rem 0;
}
.acf-field[data-name=pagebuilder_sections] .fl_e-condensed .acf-flexible-content .acf-fields {
  padding: 0.325rem;
}
.acf-field[data-name=pagebuilder_sections] .fl_e-condensed .acf-flexible-content .acf-field {
  border: 0;
  padding: 0;
  align-items: center;
}
.acf-field[data-name=pagebuilder_sections] .fl_e-condensed .acf-flexible-content .acf-field:not(:last-child) {
  margin-right: 0.75rem;
}
.acf-field[data-name=pagebuilder_sections] .fl_e-sideways .acf-flexible-content {
  /* Push buttons to top right corner */
  /* hide some icons */
}
.acf-field[data-name=pagebuilder_sections] .fl_e-sideways .acf-flexible-content .layout,
.acf-field[data-name=pagebuilder_sections] .fl_e-sideways .acf-flexible-content .acf-field {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.acf-field[data-name=pagebuilder_sections] .fl_e-sideways .acf-flexible-content .acf-fc-layout-handle {
  font-size: 1rem;
  min-width: 6rem;
}
.acf-field[data-name=pagebuilder_sections] .fl_e-sideways .acf-flexible-content .acf-fields,
.acf-field[data-name=pagebuilder_sections] .fl_e-sideways .acf-flexible-content .acf-input {
  width: 100%;
}
.acf-field[data-name=pagebuilder_sections] .fl_e-sideways .acf-flexible-content .acf-label {
  margin: 0;
  margin-right: 0.25rem;
}
.acf-field[data-name=pagebuilder_sections] .fl_e-sideways .acf-flexible-content .acf-label label {
  white-space: nowrap;
}
.acf-field[data-name=pagebuilder_sections] .fl_e-sideways .acf-flexible-content .acf-fc-layout-controls {
  z-index: 99999;
  order: 3;
  position: relative;
  top: unset;
  right: unset;
}
.acf-field[data-name=pagebuilder_sections] .fl_e-sideways .acf-flexible-content .acf-fc-layout-controls .acf-icon.-minus {
  visibility: visible !important;
  margin: 0;
}
.acf-field[data-name=pagebuilder_sections] .fl_e-sideways .acf-flexible-content .acf-icon.-collapse,
.acf-field[data-name=pagebuilder_sections] .fl_e-sideways .acf-flexible-content .acf-icon.-plus,
.acf-field[data-name=pagebuilder_sections] .fl_e-sideways .acf-flexible-content .acf-fc-layout-order {
  display: none;
}
.acf-field[data-name=pagebuilder_sections] .acf-field-group.flex-container > .acf-input > .acf-fields {
  border-width: 0;
}
.acf-field[data-name=pagebuilder_sections] .acf-field-group.flex-container > .acf-input > .acf-fields > .acf-field {
  padding: 0;
}
/**
 * Admin Styles
 * ======================================== */
/**
 * Custom Backend Styles
 * ======================================== */

/*# sourceMappingURL=admin.css.map */
