/*
 * Spacers
 * Generates square-root of 2 scale
 */

// square root of 2
$space-multiplier: 1.41421;

$space-base: 1rem !default;

$spacers: (
	null: 0,
	0   : 0,
	1   : $space-base / 2,
	2   : $space-base / $space-multiplier,
	3   : $space-base, // base
	4   : ($space-base * $space-multiplier ),
	5   : ($space-base * 2),
	6   : ($space-base * 2 * $space-multiplier ),
	7   : ($space-base * 4),
	8   : ($space-base * 4 * $space-multiplier ),
	9   : ($space-base * 8),
	10  : ($space-base * 8 * $space-multiplier ),
	11  : ($space-base * 16),
	12  : ($space-base * 16 * $space-multiplier ),
	13  : ($space-base * 32),
	14  : ($space-base * 32 * $space-multiplier ),
	15  : ($space-base * 64),
);

// space($n)
// retrieves space value
@function space($space) {
	@return map-get($spacers,$space);
}
