
@mixin neg-marg($base_space: null, $final_space: null, $area: top) {

	$final_margin: #{-1 * (space($base_space) - space($final_space))};

	@if $area == top {
		margin-top: $final_margin;
	}

	@if $area == right {
		margin-right: $final_margin;
	}

	@if $area == bottom {
		margin-bottom: $final_margin;
	}

	@if $area == left {
		margin-left: $final_margin;
	}

	@if $area == width or $area == x {
		margin-left: $final_margin;
		margin-right: $final_margin;
	}

	@if $area == height or $area == y {
		margin-top: $final_margin;
		margin-bottom: $final_margin;
	}
}


