
@mixin pad($scale, $area: all) {

	$padding: map-get($spacers, $scale);
	$padding: floor($padding * 1000) / 1000;

	@if $area == all {
		padding: $padding;
	}

	@if $area == top {
		padding-top: $padding;
	}

	@if $area == right {
		padding-right: $padding;
	}

	@if $area == bottom {
		padding-bottom: $padding;
	}

	@if $area == left {
		padding-left: $padding;
	}

	@if $area == width or $area == x {
		padding-left: $padding;
		padding-right: $padding;
	}

	@if $area == height or $area == y {
		padding-top: $padding;
		padding-bottom: $padding;
	}
}

// media pad
@mixin media-pad($media, $scale, $area: all) {

	@include media($media) {

		@include pad($scale,$area);
	}
}


