// Footer CTA

.section-footer-cta {
    background-color: transparent;
    background-image: url(assets/images/footer-cta/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    
    .wrap {
        padding: rem-calc(75 0 15);   
        
        h3 {
            color: #fff;
            font-family: $lato;
            font-style: normal;
            font-size: rem-calc(24);
            text-align: center;   
        }
    }
    
    header {
        margin-bottom: rem-calc(25)   
    }
}