.section-share-story {
        
        margin-bottom: -5px;
     
        .no-cssgrid & .grid {
            
            display: flex;
            flex-flow: row wrap;
            
            .grid-item {
                display: none;
                
                &:nth-child(-n+4){
                    display: block;
                    flex: 0 0 50%;
                    max-width: 50%;
                    .background {
                        height: 272px;    
                    }
                }
            }
        }
        
        $column-gap: 3px;
        
        .grid-item {
            padding: 0 rem-calc($column-gap) 0 0; 
            margin-top: $column-gap;
            
            .background {
                height: 152px;
                background-size: cover;
                background-position: center;   
            }
            
            &:nth-child(3),
            &:nth-child(4) {
                grid-column-start: span 2;
                grid-row-start: span 2;  
                
                .background {
                    height: 272px;    
                }
            }
        }
     
        .cssgrid & .grid {
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: auto;
            grid-auto-flow: dense;
            
            .grid-item {                
                &:nth-child(3),
                &:nth-child(4) {
                    grid-column-start: span 2;
                    grid-row-start: span 2;  
                }
            }
        }
        
        .column:last-child {
            background: linear-gradient(90deg, $lime 0%, $blue 100%); 
            
            @include breakpoint(large) {
                margin-top: $column-gap;   
            }
            
            display: flex;
            
            .entry-content {
                width: 100%;
                text-align: center; 
                position: relative;
                padding: rem-calc($global-margin * 2) rem-calc($global-margin);
                
                button {
                    margin-top: $global-margin;
                }
                
                > * {
                    color: #fff;   
                }
                
                h3 {
                    font-style: normal;   
                }
            }
            
            
        }
        
    }